@model  List<Disciplina>

@{
    ViewBag.Title = "Disciplina";
}

<h2>Disciplina</h2>
<p>@ViewBag.idAluno</p>
<p>@ViewBag.nomeAluno</p>
<ul>
    @foreach (var disciplina in @Model) {
        <li><a href="">@disciplina.Nome</a></li>
    }

</ul>
